/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  position: fixed;
  right: 30px;
  top: 30px;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 1000;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
  width: 80%;
  right: 0;
}

.hamburger-inner::after {
  bottom: -10px;
  width: 50%;
  right: 0;
}

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  width: 100%;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes titleLeft {
  0% {
    left: -60%;
    opacity: 0;
  }
  50% {
    left: 5%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes titleLeft {
  0% {
    left: -60%;
    opacity: 0;
  }
  50% {
    left: 5%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes titleRight {
  0% {
    right: -60%;
    opacity: 0;
  }
  50% {
    right: 5%;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes titleRight {
  0% {
    right: -60%;
    opacity: 0;
  }
  50% {
    right: 5%;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes title {
  0% {
    margin-bottom: -40px;
    opacity: 0;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  100% {
    letter-spacing: 8;
    margin-bottom: -40px;
    opacity: 1;
  }
}

@keyframes title {
  0% {
    margin-bottom: -40px;
    opacity: 0;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  100% {
    letter-spacing: 8;
    margin-bottom: -40px;
    opacity: 1;
  }
}

@-webkit-keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes decayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes decayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowJump {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes arrowJump {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@-webkit-keyframes cardBackShow {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -50%;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 50%;
  }
}

@keyframes cardBackShow {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -50%;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 50%;
  }
}

@-webkit-keyframes cardBackHide {
  0% {
    visibility: visible;
    opacity: 1;
    top: 50%;
  }
  100% {
    visibility: visible;
    opacity: 0;
    top: -50%;
  }
}

@keyframes cardBackHide {
  0% {
    visibility: visible;
    opacity: 1;
    top: 50%;
  }
  100% {
    visibility: visible;
    opacity: 0;
    top: -50%;
  }
}

@-webkit-keyframes rotateLetters-right {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateLetters-right {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateLetters-left {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotateLetters-left {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background-color: #091c2b;
  color: #fff;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 1010;
  -webkit-transition: opacity 0.3s, background-color 0.3s;
  transition: opacity 0.3s, background-color 0.3s;
}

.modal-bg--active {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.705);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #1b1b1b;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, background-color 0.3s;
  transition: opacity 0.3s, background-color 0.3s;
}

.modal--active {
  opacity: 1;
}

.modal__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em 1.5em;
  font-size: 1.4rem;
  white-space: normal;
  background-color: rgba(8, 8, 8, 0.719);
}

.modal__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.modal__shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.336);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(49deg, #134986 0%, rgba(8, 5, 2, 0.504639) 100%, black 100%), url("../img/darkKnight-640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
}

.header__title {
  position: relative;
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-size: 4.8rem;
  font-weight: 300;
  margin-bottom: -40px;
  letter-spacing: 8px;
  opacity: 0;
  -webkit-animation: title 3s forwards;
          animation: title 3s forwards;
}

.header__title::first-letter {
  text-transform: uppercase;
}

.header__text {
  display: block;
  font-size: 1.5rem;
  margin-top: 40px;
  opacity: 0;
  -webkit-animation: subtitle 1s 0.5s forwards;
          animation: subtitle 1s 0.5s forwards;
}

.header__btn {
  position: absolute;
  background-color: rgba(44, 105, 158, 0.993);
  border-radius: 50%;
  padding: 0.8em;
  bottom: 10px;
  -webkit-animation: arrowJump 1.5s infinite;
          animation: arrowJump 1.5s infinite;
}

.nav__item {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2rem;
  color: #d2dce4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__item::after, .nav__item::before {
  content: '';
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 2.5px solid #0d77be;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.nav__item::before {
  right: 50%;
}

.nav__item::after {
  left: 50%;
}

.nav__item:hover::before, .nav__item:hover::after {
  width: 50%;
}

.nav__item--mobile {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__item--mobile::before, .nav__item--mobile::after {
  display: none;
}

.nav__item--mobile:hover {
  color: #1f6ab1;
}

.nav-desktop {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.nav-desktop--active {
  background-color: rgba(11, 19, 31, 0.829);
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0a0909;
  z-index: 1000;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fixed-body {
  overflow: hidden;
}

.section-title {
  display: inline-block;
  position: relative;
  padding: 1em 1.5em;
  margin: 0em 1em;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  border-radius: 30px;
  background-color: #245685;
}

.section-title span {
  font-weight: 600;
  padding: 0.2em 0;
  border-bottom: 1px solid #d2dce4;
}

.section-title::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 22px solid;
  border-color: #245685 #0000 #0000 #0000;
}

.offer__title {
  height: 70px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.offer__cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2em 2.5em;
  padding: 1em 2em;
  margin-top: 2em;
}

.offer__card {
  position: relative;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 190px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #15273a;
}

.offer__card-title {
  margin: 0.5em 0em;
  font-size: 2rem;
  text-align: center;
}

.offer__card-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  padding: 0.8em 1.5em;
  border-radius: 18px;
  background-color: #185ea8;
}

.offer__card-btn::before {
  background-color: #0e4886;
}

.offer__card-info {
  position: absolute;
  background-color: #1b1b1b;
  width: 315px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;
  display: none;
}

.offer__card-img {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.offer__card-box {
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
}

.offer__card-text {
  text-align: center;
  font-weight: 300;
}

.offer__card--confirm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  padding: 1em 2em;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid rgba(10, 123, 189, 0.733);
  color: #2090d1;
  font-weight: 700;
  background: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.offer__card--confirm::before {
  background-color: #0d6699;
}

.offer__card--confirm:hover {
  color: #d2dce4;
}

.shopping__title {
  height: 70px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.shopping__cards {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  margin-top: -3em;
}

.shopping__card {
  position: relative;
  left: 0;
  border-radius: 15px;
  background-color: #15273a;
  background-position: center;
  background-size: cover;
  height: 330px;
  margin-top: 5em;
  padding: 1em 2em;
  overflow: hidden;
}

.shopping__card--shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(5, 13, 29, 0.808);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.shopping__card-box {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 150px;
  height: 150px;
  z-index: 1;
}

.shopping__card--icon {
  position: absolute;
  left: 85%;
}

.shopping__card-degree {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(14, 26, 41, 0.664);
}

.shopping__card-degree img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shopping__card-degree {
  right: 0;
  margin-top: 1em;
  margin-right: 1em;
}

.shopping__card:nth-child(1) {
  background-image: url("../img/card1.jpg");
}

.shopping__card:nth-child(2) {
  background-image: url("../img/card2.jpg");
}

.shopping__card:nth-child(3) {
  background-image: url("../img/card3.jpg");
}

.shopping__card-title, .shopping__card-btn, .shopping__card-back, .shopping__card-back-box {
  position: absolute;
  left: 50%;
}

.shopping__card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.shopping__card-title {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #d2dce4;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 1;
  -webkit-transition: letter-spacing 0.5s;
  transition: letter-spacing 0.5s;
}

.shopping__card-cross {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  background-color: tomato;
  color: #fff;
}

.shopping__card-btn {
  bottom: 5%;
  padding: 1em 2em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 2px solid #d2dce4;
  border-radius: 5px;
  background: none;
  letter-spacing: 1px;
  color: #d2dce4;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  cursor: pointer;
  z-index: 1;
}

.shopping__card-btn:hover ~ .shopping__card--shadow {
  background-color: rgba(5, 13, 29, 0.644);
}

.shopping__card-btn:hover ~ .shopping__card-title {
  letter-spacing: 2px;
}

.shopping__card-back {
  visibility: hidden;
  top: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 10;
}

.shopping__card-back-box {
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 70px;
  padding: 1em 0.5em;
  text-align: center;
}

.shopping__card-back-box h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(241, 241, 241, 0.822);
  padding-bottom: 0.5em;
  margin: 0 auto;
}

.shopping__card-back-box h2 span {
  color: #2564ac;
}

.shopping__card-back-box p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.7rem;
  color: rgba(255, 255, 255, 0.144);
  font-weight: 900;
  margin: 0 auto;
  width: 90%;
  padding: 0.1em 0;
}

.shopping__card-back-box--first {
  top: 25%;
}

.shopping__card-back-box--second {
  top: 55%;
}

.shopping__card-back__textBox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 3em 0.5em;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: rgba(20, 21, 22, 0.514);
  color: rgba(255, 255, 255, 0.555);
}

.shopping__card-back__textBox p:nth-child(1) {
  margin-bottom: 0.3em;
}

.shopping__card-back__textBox p:nth-child(2) {
  color: #2564ac;
  font-weight: 900;
}

.shopping__card-back__textBox span {
  color: #2564ac;
}

.shopping__card-back--active {
  -webkit-animation: 0.8s cardBackShow forwards;
          animation: 0.8s cardBackShow forwards;
}

.shopping__card-back--noactive {
  -webkit-animation: 1s cardBackHide forwards;
          animation: 1s cardBackHide forwards;
}

.shopping__card-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12rem;
  font-family: 'Kaushan Script', cursive;
  color: rgba(255, 255, 255, 0.027);
}

.shopping__card-letter:nth-child(2), .shopping__card-letter:nth-child(3) {
  display: none;
}

.community__title {
  height: 70px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.community__box {
  height: 500px;
  background-image: linear-gradient(49deg, #134986 0%, rgba(8, 5, 2, 0.504639) 100%, black 100%), url("../img/sword-gea15e220f_640.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.modal__cross,
.shopping__card-cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #cc4a34;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 10;
}

.modal__cross span,
.shopping__card-cross span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  color: #fff;
}

.modal__cross:hover,
.shopping__card-cross:hover {
  background-color: #af3d28;
}

.conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
}

@media (min-width: 576px) {
  .section-title {
    font-size: 2rem;
  }
  .offer__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .offer__card:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .shopping__card-title {
    font-size: 2.2rem;
  }
  .shopping__card-letter {
    color: rgba(255, 255, 255, 0.062);
  }
  .shopping__card-back-box {
    top: 50%;
    width: 200px;
    height: 200px;
  }
  .shopping__card-back-box--first {
    left: 30%;
  }
  .shopping__card-back-box--second {
    left: 70%;
  }
  .shopping__card-back-box p {
    font-size: 3rem;
  }
  .shopping__card-back__textBox {
    padding: 2em .5em;
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2.2rem;
  }
  .header__title {
    font-size: 6.8rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .offer__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .offer__card:nth-child(9) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .offer__title {
    margin-left: 1em;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .offer__title::before {
    right: 50%;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  .shopping__title {
    margin-right: 1em;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .shopping__title::before {
    right: 50%;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .shopping__card-title {
    font-size: 2.4rem;
  }
  .shopping__card-box {
    height: 70px;
    top: 10%;
  }
  .shopping__card-back-box {
    width: 220px;
  }
  .shopping__card-back-box h2 {
    font-size: 2rem;
  }
  .shopping__card-back-box p {
    font-size: 3.2rem;
  }
  .shopping__card-back--info {
    font-size: 1.6rem;
  }
  .shopping__card-degree {
    top: 0;
    right: 0;
    margin-top: .5em;
    margin-right: 1em;
  }
  .shopping__card-info {
    top: 0;
    left: 0;
    margin-top: .5em;
    margin-left: 1em;
  }
  .shopping__card-letter:nth-child(1), .shopping__card-letter:nth-child(2), .shopping__card-letter:nth-child(3) {
    display: inline-block;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .shopping__card-letter:nth-child(1) {
    top: 20%;
    -webkit-animation: rotateLetters-left 55s infinite linear;
            animation: rotateLetters-left 55s infinite linear;
  }
  .shopping__card-letter:nth-child(2) {
    top: 0;
    left: 5%;
    font-size: 11rem;
    -webkit-animation: rotateLetters-right 45s infinite linear;
            animation: rotateLetters-right 45s infinite linear;
  }
  .shopping__card-letter:nth-child(3) {
    top: 30%;
    left: 80%;
    font-size: 9rem;
    -webkit-animation: rotateLetters-right 25s infinite linear;
            animation: rotateLetters-right 25s infinite linear;
  }
  .community__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .community__title::before {
    left: 50%;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .nav__item {
    position: relative;
    right: 2.5em;
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
  .header {
    background-image: linear-gradient(49deg, #134986 0%, rgba(8, 5, 2, 0.504639) 100%, black 100%), url("../img/darkKnight-1920.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .header__title {
    font-size: 10rem;
  }
  .shopping__title {
    margin-right: 1em;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .shopping__title::before {
    right: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .shopping__card-back__textBox p:nth-child(2) {
    font-size: 1.8rem;
  }
  .offer__title {
    margin-left: 1em;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .offer__title::before {
    right: 50%;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .community__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .community__title::before {
    right: 50%;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
/*# sourceMappingURL=main.css.map */