.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: 1px solid transparent;
  padding: 1em;
  cursor: pointer;
  z-index: 1100;
}

.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.726);
  border-radius: 8px;
}

.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}

.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  content: '';
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.burger-btn__bars {
  width: 100%;
}

.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}

.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes titleLeft {
  0% {
    left: -60%;
    opacity: 0;
  }
  50% {
    left: 5%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes titleLeft {
  0% {
    left: -60%;
    opacity: 0;
  }
  50% {
    left: 5%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes titleRight {
  0% {
    right: -60%;
    opacity: 0;
  }
  50% {
    right: 5%;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes titleRight {
  0% {
    right: -60%;
    opacity: 0;
  }
  50% {
    right: 5%;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes title {
  0% {
    margin-bottom: -40px;
    opacity: 0;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  100% {
    letter-spacing: 8;
    margin-bottom: -40px;
    opacity: 1;
  }
}

@keyframes title {
  0% {
    margin-bottom: -40px;
    opacity: 0;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  100% {
    letter-spacing: 8;
    margin-bottom: -40px;
    opacity: 1;
  }
}

@-webkit-keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subtitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes decayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes decayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrowJump {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes arrowJump {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background-color: #c9c9c9;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -webkit-transition: opacity .3s, background-color .3s;
  transition: opacity .3s, background-color .3s;
}

.modal-bg--active {
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.705);
}

.modal {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1b1b1b;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: top .5s, background-color .3s;
  transition: top .5s, background-color .3s;
}

.modal--active {
  visibility: visible;
  top: 50%;
}

.modal__cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #cc4a34;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 10;
}

.modal__cross span {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  color: #fff;
}

.modal__cross:hover {
  background-color: #af3d28;
}

.modal__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1em 1.5em;
  font-size: 1.4rem;
  background-color: rgba(8, 8, 8, 0.719);
}

.modal__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.modal__shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.336);
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(49deg, #134986 0%, rgba(8, 5, 2, 0.504639) 100%, black 100%), url("../img/darkKnight-640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: scroll;
}

.header__title {
  position: relative;
  display: block;
  font-family: 'Kaushan Script', cursive;
  font-size: 4.8rem;
  font-weight: 300;
  margin-bottom: -40px;
  letter-spacing: 8px;
  opacity: 0;
  -webkit-animation: title 3s forwards;
          animation: title 3s forwards;
}

.header__title::first-letter {
  text-transform: uppercase;
}

.header__text {
  display: block;
  font-size: 1.5rem;
  margin-top: 40px;
  opacity: 0;
  -webkit-animation: subtitle 1s 0.5s forwards;
          animation: subtitle 1s 0.5s forwards;
}

.header__btn {
  position: absolute;
  background-color: rgba(44, 105, 158, 0.993);
  border-radius: 50%;
  padding: 0.8em;
  bottom: 10px;
  -webkit-animation: arrowJump 1.5s infinite;
          animation: arrowJump 1.5s infinite;
}

.nav__item {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  color: rgba(255, 255, 255, 0.726);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__item:hover {
  color: rgba(44, 105, 158, 0.993);
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0a0909;
  z-index: 10;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.offer__title {
  display: inline-block;
  position: relative;
  padding: 1em 1.5em;
  margin-left: 1em;
  margin-top: 4em;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #245685;
  opacity: 0;
}

.offer__title span {
  font-weight: 600;
  padding: 0.2em 0;
  border-bottom: 1px solid #fff;
}

.offer__title::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 22px solid;
  border-color: #245685 #0000 #0000 #0000;
}

.offer__title--active {
  -webkit-animation: titleLeft 2s 0.2s forwards;
          animation: titleLeft 2s 0.2s forwards;
}

.offer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3em;
}

.offer__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  width: 250px;
  height: 200px;
  border-radius: 35px;
  background-color: #15273a;
  text-transform: uppercase;
}

.offer__card-title {
  margin: 0.5em 0em;
  font-size: 2rem;
  text-align: center;
}

.offer__card-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  padding: 0.8em 1.5em;
  border-radius: 15px;
  background-color: #185ea8;
}

.offer__card-btn::before {
  background-color: #0e4886;
}

.offer__card-info {
  position: absolute;
  background-color: #1b1b1b;
  width: 315px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;
  display: none;
}

.offer__card-img {
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.offer__card-box {
  position: absolute;
  top: 61%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 30%;
}

.offer__card-text {
  text-align: center;
  font-weight: 300;
}

.offer__card--confirm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  padding: 1em 2em;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid #0d6699;
  color: #2090d1;
  font-weight: 700;
  background: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.offer__card--confirm::before {
  background-color: #0d6699;
}

.offer__card--confirm:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 6.8rem;
  }
  .header__text {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(49deg, #134986 0%, rgba(8, 5, 2, 0.504639) 100%, black 100%), url("../img/darkKnight-1920.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .header__title {
    font-size: 10rem;
  }
}
/*# sourceMappingURL=main.css.map */