$pure-white: #fff;
$dirty-white: rgba(255, 255, 255, 0.726);
$dark: #2e2e2e;
$main-color: rgba(44, 105, 158, 0.993);

$blue-gradient: linear-gradient(49deg, rgb(19, 73, 134) 0%, rgba(8,5,2,0.5046393557422969) 100%, rgba(0,0,0,1) 100%);
