$pure-white: #fff;
$dirty-white: rgba(255, 255, 255, 0.726);
$main-color: rgba(44, 105, 158, 0.993);
$sea-blue: rgb(36, 86, 133);
$dark-blue: rgba(21, 71, 114, 0.993);
$blue-gradient: linear-gradient(49deg, rgb(19, 73, 134) 0%, rgba(8,5,2,0.5046393557422969) 100%, rgba(0,0,0,1) 100%);
