.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleY(1);
	}
}