@media(min-width: 992px){
    .burger-btn {
        display: none;
    }

    .nav-mobile{
        display: none;
    }
    
    .nav-desktop{
        display: flex;
        justify-content: right;
    }

    .nav__item{
        position: relative;
        right: 2.5em;
        font-size: 1.8rem;
        letter-spacing: 1px;
    }

    .header{
        @include heroImages('../img/darkKnight-1920.jpg');

        &__title{
            font-size: 10rem;
        }
    }
}

@media(min-width: 1200px){

}