@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
		justify-content: right;
	}

	.nav__item {
		position: relative;
		right: 2.5em;
		font-size: 1.6rem;
		letter-spacing: 2px;
	}

	.header {
		@include heroImages('../img/darkKnight-1920.jpg');

		&__title {
			font-size: 10rem;
		}
	}

	.shopping {
		&__title {
			grid-column: 3/4;
			&::before {
				transform: translateX(-50px);
			}
		}

		&__card {
			&-back {
				&-textBox {
					p:nth-child(2) {
						font-size: 1.8rem;
					}
				}
			}
		}
	}

	.offer {
		&__title {
			grid-column: 1/2;
			&::before {
				transform: translateX(50px);
			}
		}
	}

	.community {
		&__title {
			grid-column: 1/2;
			
            &::before {
				transform: translateX(50px);
			}
		}

		&__box{
			grid-column: 2/4;
		}

		&__logo{
			width: 150px;
		}

		&__bg {
			@include heroImages('../img/sword-1920.jpg');
		}
	}
	
	.contact{
		&__title{
			grid-column: 3/4;
			
			&::before {
				transform: translateX(-50px);
			}
		}
	}
}