// --------------------
// Animation's button
// --------------------

@mixin btnStyle() {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	border: none;
	background: none;
	text-transform: uppercase;
	color: $pure-white;
	cursor: pointer;
	z-index: 10;
}

// @mixin btnLightColor($lightColor) {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 100%;
// 	width: 100%;
// 	z-index: -2;
// 	background-color: $lightColor;
// }

// @mixin btnDarkColor($darkColor) {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-color: $darkColor;
// 	transform: scaleY(0);
// 	transform-origin: bottom;
// 	transition: transform 0.3s;
// 	z-index: -1;
// }

// --------------------
// Hero Graphic
// --------------------

@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
