@media (min-width: 576px) {
	.offer {
		&__cards {
			grid-template-columns: repeat(2, 1fr);
			grid-template-columns: repeat(2, 1fr);
		}

        &__card:nth-child(9){
            grid-column: 1/3;
        }
	}
}
