@import './colors';
@import './mixins';
@import './hamburger';
@import './components';
@import './animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 65.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: rgb(9, 28, 43);
	color: $pure-white;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
	visibility: hidden;
	z-index: 1010;
	transition: opacity 0.3s, background-color 0.3s;
	&--active {
		visibility: visible;
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.705);
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	transform: translate(-50%, -50%);
	background-color: rgb(27, 27, 27);
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s, background-color 0.3s;
	&--active {
		opacity: 1;
	}

	&__cross {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 1em;
		top: 1em;
		width: 35px;
		height: 35px;
		border: none;
		border-radius: 50%;
		background-color: rgb(204, 74, 52);
		cursor: pointer;
		transition: background-color 0.3s;
		z-index: 10;

		span {
			font-family: 'Montserrat', sans-serif;
			font-size: 2.3rem;
			color: $pure-white;
		}

		&:hover {
			background-color: rgb(175, 61, 40);
		}
	}

	&__text {
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 1em 1.5em;
		font-size: 1.4rem;
		white-space: normal;
		background-color: rgba(8, 8, 8, 0.719);
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		// border-radius: 50%;
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.336);
	}
}

// --------------------
// HEADER
// --------------------

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: center;
	@include heroImages('../img/darkKnight-640.jpg');
	background-attachment: fixed;

	&__title {
		position: relative;
		display: block;
		font-family: 'Kaushan Script', cursive;
		font-size: 4.8rem;
		font-weight: 300;
		margin-bottom: -40px;
		letter-spacing: 8px;
		opacity: 0;
		animation: title 3s forwards;
	}

	&__title::first-letter {
		text-transform: uppercase;
	}

	&__text {
		display: block;
		font-size: 1.5rem;
		margin-top: 40px;
		opacity: 0;
		animation: subtitle 1s 0.5s forwards;
	}

	&__btn {
		position: absolute;
		background-color: $main-color;
		border-radius: 50%;
		padding: 0.8em;
		bottom: 10px;
		animation: arrowJump 1.5s infinite;
	}
}

// ------------------
// NAV
// ------------------
.nav {
	&__item {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2rem;
		color: rgb(210, 220, 228);
		transition: color 0.3s;

		//animation on desktop
		&::after,
		&::before {
			content: '';
			position: absolute;
			width: 0;
			bottom: 0;
			border-bottom: 2.5px solid rgb(13, 119, 190);
			transition: width 0.5s;
		}

		&::before {
			right: 50%;
		}

		&::after {
			left: 50%;
		}

		&:hover::before,
		&:hover::after {
			width: 50%;
		}
		//animation on mobile
		&--mobile {
			transition: color 0.3s;

			&::before,
			&::after {
				display: none;
			}
			&:hover {
				color: $light-blue;
			}
		}
	}

	&-desktop {
		display: none;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
		transition: background-color 0.3s;

		&--active {
			background-color: rgba(11, 19, 31, 0.829);
		}
	}

	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: rgb(10, 9, 9);
		z-index: 10;
		transform: translateX(-102%);
		transition: transform 0.5s;

		&--active {
			transform: translateX(0);
		}
	}
}

.fixed-body {
	overflow: hidden;
}

// ----------------
// Section Offer
// ----------------



//style title's section
.section-title {
	display: inline-block;
	position: relative;
	padding: 1em 1.5em;
	margin: 0em 1em;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 300;
	text-align: center;
	border-radius: 30px;
	background-color: $sea-blue;

	span {
		font-weight: 600;
		padding: 0.2em 0;
		border-bottom: 1px solid rgb(210, 220, 228);;
	}

	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border: 22px solid;
		border-color: $sea-blue #0000 #0000 #0000;
	}
}

.offer {
	&__title {
		height: 70px;
		grid-row: 2/3;
		grid-column: 1/4;
		// opacity: 0;
		
		// &--active {
		// 	animation: titleLeft 2s 0.2s forwards;
		// }
	}

	&__cards {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 2em 2.5em;
		padding: 1em 2em;
		margin-top: 2em;
	}

	&__card {
		position: relative;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 190px;
		transform: translate(-50%);
		text-transform: uppercase;
		border-radius: 20px;
		background-color: rgb(21, 39, 58);

		&-title {
			margin: 0.5em 0em;
			font-size: 2rem;
			text-align: center;
		}

		&-btn {
			@include btnStyle;
			position: absolute;
			bottom: 20px;
			padding: 0.8em 1.5em;
			border-radius: 18px;
			background-color: rgb(24, 94, 168);

			&::before {
				background-color: rgb(14, 72, 134);
			}
		}
		&-info {
			position: absolute;
			background-color: rgb(27, 27, 27);
			width: 315px;
			height: 400px;
			border-radius: 10px;
			overflow: hidden;
			z-index: 100;
			display: none;
		}

		&-img {
			position: absolute;
			left: 50%;
			top: 10px;
			transform: translateX(-50%);
			border-radius: 50%;
		}

		&-box {
			position: absolute;
			top: 61%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			height: 30%;
		}

		&-text {
			text-align: center;
			font-weight: 300;
		}

		&--confirm {
			@include btnStyle;
			position: absolute;
			padding: 1em 2em;
			left: 50%;
			bottom: 5px;
			transform: translate(-50%, -50%);
			border-radius: 10px;
			// border: 2px solid rgb(13, 102, 153);
			border: 2px solid rgba(10, 123, 189, 0.733);
			color: rgb(32, 144, 209);
			font-weight: 700;
			background: none;
			transition: color 0.3s, background-color 0.3s;

			&::before {
				background-color: rgb(13, 102, 153);
			}

			&:hover {
				color: rgb(210, 220, 228);
			}
		}
	}
}

// ----------------
// Section Shopping
// ----------------

.shopping {
	&__title {
		height: 70px;
		grid-row: 2/3;
		grid-column: 1/4;
		// opacity: 0;

		&--active {
			animation: titleLeft 2s 0.2s forwards;
		}
	}

	&__cards {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		// gap: 1em 2em;
		width: 100%;
		height: 100%;
		padding: 1em 2em;
		margin-top: -3em;
	}

	&__card {
		position: relative;
		left: 0;
		border-radius: 15px;
		background-color: rgb(21, 39, 58);
		background-position: center;
		background-size: cover;
		height: 300px;
		margin-top: 5em;
		padding: 1em 2em;
		overflow: hidden;
		
		
		&--shadow{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(5, 13, 29, 0.808);
			transition: background-color .5s;
		}
		
		&-box{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 150px;
			height: 150px;
			z-index: 1;
		}

		&--icon{
			position: absolute;
			left: 85%;
		}

		&-info, &-degree{
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: rgba(14, 26, 41, 0.664);
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		
		&-degree{
			right: 0;
			margin-top: 1em;
			margin-right: 1em;
		}

		&-info{
			bottom: 0;
			right: 0;
			margin-bottom: 1em;
			margin-right: 1em;
			cursor: pointer;
		}

		&:nth-child(1){
			background-image: url('../img/card1.jpg');
		}
		&:nth-child(2){
			background-image: url('../img/card2.jpg');
		}
		&:nth-child(3){
			background-image: url('../img/card3.jpg');
		}
		
		&-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
		}

		&-title {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			color: rgb(210, 220, 228);
			font-size: 2rem;
			text-transform: uppercase;
			z-index: 1;
			transition: letter-spacing .5s;
		}

		&-btn {
			position: absolute;
			left: 50%;
			bottom: 5%;
			padding: 1em 2em;
			font-weight: 600;
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			border: 2px solid rgb(210, 220, 228);
			border-radius: 5px;
			background: none;
			letter-spacing: 1px;
			color: rgb(210, 220, 228);
			transform: translate(-50%);
			transition: border-color 0.3s, color 0.3s;
			cursor: pointer;
			z-index: 1;

			// &:hover {
			// 	border-color: $light-blue;
			// 	color:  $light-blue;
			// }

			&:hover ~ .shopping__card--shadow{
				background-color: rgba(5, 13, 29, 0.562);
			}

			&:hover ~ .shopping__card-title{
				letter-spacing: 2px;
			}
		}
	}
}

.conteiner {
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);
	max-width: 1200px;
	// overflow: hidden;
}

@import './small';
@import './medium';
@import './large';
